# IDEs
.idea/

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Hugo
/resources/
public/
assets/jsconfig.json
.hugo_build.lock
